body {
    font-family: Arial;
    padding: 20px;
    background: #f0f0f0;
}

h1 {
    color: blue;
}

.box {
    background: lightgreen;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
}